jupyter
ipykernel
openai
python-dotenv
redlines
panel
jupyter_bokeh
azure-cognitiveservices-speech
azure-ai-formrecognizer 
azure.core
gradio
azure-search-documents==11.4.0b9
youtube-search-python
movieposters
tiktoken
plotly
scipy
scikit-learn
openpyxl
azure-ai-vision
langchain
# azure
azure-identity
